#sidebar{
	width:266px;
	height:850px;
	background:#fff;
	border-right:1px solid #ccc;
	float:left;
}
#sidebar embed{
	display:block;
	width:220px;
	height:200px;
	margin:0 auto;
	margin-top:10px;
}
#content{
	width:600px;
	height:850px;
	float:right;
	background:#fff;
}
#content h1{
	background:url(../image/lianxi.gif)no-repeat;
	width:127px;
	height:26px;
	font-size:100%;
	text-indent:-9999px;
	margin-top:20px;
	margin-left:20px;
}
#content ul{
	margin-left:20px;
	margin-top:10px;
	text-indent:180%;
}